<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="./scripts/configNumeral.js"></script>
    <title>Listagem de Estoque</title>
</head>

<body class="container-fluid" onload="getJSON();">
    <div class="row">
        <section class="side-menu col-2">
            <div class="row">
                <div class="logo-area col">
                    
                </div>
            </div>
            <div class="row sub-menu">
                <div role="button" class="toggler row align-items-center collapsed" data-bs-toggle="collapse"
                    data-bs-target="#menuEstoque" aria-expanded="false" aria-controls="menuEstoque">
                    <p class="col-10"><i class="fas fa-cubes"></i> Estoque</p>
                    <i class="fas fa-chevron-up col-2"></i>
                    <i class="fas fa-chevron-down col-2"></i>

                </div>
                <div class="collapse multi-collapse list" id="menuEstoque">
                    <ul>
                        <li><a href="/registrar-estoque">
                                <div class="side-btn"><i class="fas fa-plus-circle"></i> Registrar Estoque</div>
                            </a></li>
                        <li><a href="/listagem-estoque">
                                <div class="side-btn2"><i class="fas fa-list-ul"></i> Listagem do Estoque</div>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="row sub-menu">
                <div role="button" class="toggler row align-items-center collapsed" data-bs-toggle="collapse"
                    data-bs-target="#menuOrcamento" aria-expanded="false" aria-controls="menuOrcamento">
                    <p class="col-10"><i class="fas fa-coins"></i> Orçamento</p>
                    <i class="fas fa-chevron-up col-2"></i>
                    <i class="fas fa-chevron-down col-2"></i>
                </div>
                <div class="collapse multi-collapse list" id="menuOrcamento">
                    <ul>
                        <li><a href="/novo-orcamento">
                                <div class="side-btn col-12"><i class="fas fa-plus-circle"></i> Novo Orçamento</div>
                            </a></li>
                        <li><a href="/lista-orcamento">
                                <div class="side-btn2"><i class="fas fa-list-ul"></i> Lista de Orçamentos</div>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="row sub-menu">
                <div role="button" class="toggler row align-items-center collapsed" data-bs-toggle="collapse"
                    data-bs-target="#menuPedido" aria-expanded="false" aria-controls="menuPedido">
                    <p class="col-10"><i class="fas fa-clipboard"></i> Pedido</p>
                    <i class="fas fa-chevron-up col-2"></i>
                    <i class="fas fa-chevron-down col-2"></i>
                </div>
                <div class="collapse multi-collapse list" id="menuPedido">
                    <ul>
                        <li><a href="/lista-pedido">
                                <div class="side-btn2"><i class="fas fa-list-ul"></i> Lista de Pedidos</div>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="row sub-menu">
                <div role="button" class="toggler row align-items-center collapsed" data-bs-toggle="collapse"
                    data-bs-target="#menuGastos" aria-expanded="false" aria-controls="menuGastos">
                    <p class="col-10"><i class="fas fa-money-bill-wave"></i> Gastos</p>
                    <i class="fas fa-chevron-up col-2"></i>
                    <i class="fas fa-chevron-down col-2"></i>
                </div>
                <div class="collapse multi-collapse list" id="menuGastos">
                    <ul>
                        <li><a href="/listagem-gastos">
                                <div class="side-btn"><i class="fas fa-list-ul"></i> Listagem</div>
                            </a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="principal-content col-10">
            <div class="title row align-items-center">
                <h1 class="col-12 text-center">Listagem do Estoque</h1>
            </div>
            <table class="table table-striped table-bordered">
                <caption>Listagem do Estoque</caption>
                <thead class="table-dark">
                    <tr>
                        <th class="text-center align-middle" scope="col">Tipo</th>
                        <th class="text-center align-middle" scope="col">Produto</th>
                        <th class="text-center align-middle" scope="col">Quantidade</th>
                        <th class="text-center align-middle" scope="col">Valor/UND</th>
                        <th class="text-center align-middle" scope="col">Valor Total</th>
                        <th class="text-center align-middle" scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle text-center" scope="row">Papel</td>
                        <td class="align-middle">Folha 33x48</td>
                        <td class="align-middle text-center" style="width:10%">30</td>
                        <td class="align-middle text-center" style="width:10%">R$ 10,99</td>
                        <td class="align-middle text-center" style="width:10%">R$ 329,70</td>
                        <td class="align-middle text-center" style="width:15%">
                            <button class="btn btn-dark">Adicionar</button>
                            <button class="btn btn-dark">Remover</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center" scope="row">02</td>
                        <td class="align-middle">Folha 33x48</td>
                        <td class="align-middle text-center" style="width:10%">30</td>
                        <td class="align-middle text-center" style="width:10%">R$ 10,99</td>
                        <td class="align-middle text-center" style="width:10%">R$ 329,70</td>
                        <td class="align-middle text-center" style="width:15%">
                            <button class="btn btn-dark">Adicionar</button>
                            <button class="btn btn-dark">Remover</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center" scope="row">03</td>
                        <td class="align-middle">Folha 33x48</td>
                        <td class="align-middle text-center" style="width:10%">30</td>
                        <td class="align-middle text-center" style="width:10%">R$ 10,99</td>
                        <td class="align-middle text-center" style="width:10%">R$ 329,70</td>
                        <td class="align-middle text-center" style="width:15%">
                            <button class="btn btn-dark" data-bs-toggle="modal"
                                data-bs-target="#adicionar">Adicionar</button>
                            <button class="btn btn-dark" data-bs-toggle="modal"
                                data-bs-target="#remover">Remover</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <div class="modal fade" id="alterar" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Alterar quantidade</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#alterar" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form-alterar" action="" method="post">
                            <label for="quantidade">Quantidade para alterar</label>
                            <input class="form-control" type="number" min="0" name="quantidade" id="quantidade">
                            <div id="divPrecoCompra" style="visibility: hidden;">
                                <label for="precoCompra">Preço de compra</label>
                                <input class="form-control" type="number" min="0" step="0.01" name="precoCompra" id="precoCompra">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">      
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#alterar">Cancelar</button>
                        <button type="submit" onclick="$('#form-alterar').submit();" class="btn btn-success enviar"
                            data-bs-toggle="modal" data-bs-target="#alterar">Alterar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="alterar-preco" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Alterar preço de produto</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#alterar-preco" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form-alterar-preco" action="" method="post">
                            <label for="preco">Novo preço</label>
                            <input class="form-control" type="number" min="0" step="0.01" name="preco" id="preco">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#alterar-preco">Cancelar</button>
                        <button type="submit" onclick="$('#form-alterar-preco').submit();"
                            class="btn btn-success enviar" data-bs-toggle="modal"
                            data-bs-target="#alterar-preco">Alterar preço</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="./scripts/actionsListaEstoque.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>
