<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Registrar Estoque</title>
</head>

<body class="container-fluid">
    <div class="row">
        <section class="side-menu col-2">
            <div class="row">
                <div class="logo-area col">

                </div>
            </div>
            <div class="row sub-menu">
                <div role="button" class="toggler row align-items-center collapsed" data-bs-toggle="collapse"
                    data-bs-target="#menuEstoque" aria-expanded="false" aria-controls="menuEstoque">
                    <p class="col-10"><i class="fas fa-cubes"></i> Estoque</p>
                    <i class="fas fa-chevron-up col-2"></i>
                    <i class="fas fa-chevron-down col-2"></i>

                </div>
                <div class="collapse multi-collapse list" id="menuEstoque">
                    <ul>
                        <li><a href="/registrar-estoque">
                                <div class="side-btn"><i class="fas fa-plus-circle"></i> Registrar Estoque</div>
                            </a></li>
                        <li><a href="/listagem-estoque">
                                <div class="side-btn2"><i class="fas fa-list-ul"></i> Listagem do Estoque</div>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="row sub-menu">
                <div role="button" class="toggler row align-items-center collapsed" data-bs-toggle="collapse"
                    data-bs-target="#menuOrcamento" aria-expanded="false" aria-controls="menuOrcamento">
                    <p class="col-10"><i class="fas fa-coins"></i> Orçamento</p>
                    <i class="fas fa-chevron-up col-2"></i>
                    <i class="fas fa-chevron-down col-2"></i>
                </div>
                <div class="collapse multi-collapse list" id="menuOrcamento">
                    <ul>
                        <li><a href="/novo-orcamento">
                                <div class="side-btn col-12"><i class="fas fa-plus-circle"></i> Novo Orçamento</div>
                            </a></li>
                        <li><a href="/lista-orcamento">
                                <div class="side-btn2"><i class="fas fa-list-ul"></i> Lista de Orçamentos</div>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="row sub-menu">
                <div role="button" class="toggler row align-items-center collapsed" data-bs-toggle="collapse"
                    data-bs-target="#menuPedido" aria-expanded="false" aria-controls="menuPedido">
                    <p class="col-10"><i class="fas fa-clipboard"></i> Pedido</p>
                    <i class="fas fa-chevron-up col-2"></i>
                    <i class="fas fa-chevron-down col-2"></i>
                </div>
                <div class="collapse multi-collapse list" id="menuPedido">
                    <ul>
                        <li><a href="/lista-pedido">
                                <div class="side-btn2"><i class="fas fa-list-ul"></i> Lista de Pedidos</div>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="row sub-menu">
                <div role="button" class="toggler row align-items-center collapsed" data-bs-toggle="collapse"
                    data-bs-target="#menuGastos" aria-expanded="false" aria-controls="menuGastos">
                    <p class="col-10"><i class="fas fa-money-bill-wave"></i> Gastos</p>
                    <i class="fas fa-chevron-up col-2"></i>
                    <i class="fas fa-chevron-down col-2"></i>
                </div>
                <div class="collapse multi-collapse list" id="menuGastos">
                    <ul>
                        <li><a href="/listagem-gastos">
                                <div class="side-btn"><i class="fas fa-list-ul"></i> Listagem</div>
                            </a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="principal-content col-10">
            <div class="title row align-items-center">
                <h1 class="col-12 text-center">Registrar Estoque</h1>
            </div>
            <div class="form-orcamento row">
                <form action="add-estoque" method="POST">
                    <div class="row">
                        <table class="table-orcamentos table table-striped table-bordered">
                            <tr>
                                <th scope="col">Tipo</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Valor</th>
                            </tr>
                            <tr>
                                <th class="table-input-desc"><select class="form-select" name="tipo" id="tipo"
                                        aria-placeholder="tipo">
                                        <option disabled selected>Tipo</option>
                                        <option value="Papel">Papel</option>
                                        <option value="Suprimento">Suprimento</option>
                                    </select></th>
                                <th class="table-input-desc"><input type="text" name="desc" id="desc"
                                        class="form-control form-table"></th>
                                <th class="table-input-valor" style="width:20%"><input type="number" name="valor"
                                        min="0.01" step="0.01" id="valor" class="form-control form-table"></th>
                            </tr>
                        </table>
                    </div>
                    <div class="row mt-2">
                        <button type="submit" class="col-12 btn-submit">
                            Concluir
                        </button>
                    </div>
                </form>
            </div>
        </section>

    </div>

    <script src="./actions.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>