body{
    scroll-behavior: smooth;
}

.side-menu {
    background: #AED4FF;
    min-height: 100vh;
    border-right: #585858 1px solid;
}

.side-menu ul{
    margin: 0;
    padding: 0;
}

.side-btn {
    padding: 15px 15px;
    margin: 0;
    background-color: rgb(228, 228, 228);
}

.side-btn2 {
    padding: 15px 15px;
    margin: 0;
    background-color: rgb(201, 201, 201);
}

.side-menu a {
    text-decoration: none;
    color: black;
    
}

.side-menu a:hover {
    text-decoration: none;
    color: rgb(100, 100, 100);
    
}

.logo-area {
    min-height: 130px;
    border-bottom: #acacac 1px solid;
    padding: 0;
    background-image: url("/images/background.jpg");
    width: 100%;
    background-size: 100%;
}

.logo-area>img{
    width: 100%;
    margin: 0 0px;
    
}

.sub-menu .toggler {
    padding: 3px 3px 15px 0px;
    margin: 0;
    
    height: 40px;
    background: #8ac1ff;
    color: #2e2e2e;
    font-size: larger;
    font-family: sans-serif;
}

.sub-menu{
    border-top: #929292 1px solid;
    border-bottom: #929292 1px solid;
    margin-bottom: 0px;
    user-select: none;
}

.fa-chevron-down, .fa-chevron-up{
    padding-bottom: 10px;
}

.collapsed .fa-chevron-up{
    display: none;
}

.list {
    background: white;
    margin: 0;
    padding: 0;
    transition: all 0.2s;
}

.sub-menu .list>ul {
    color: #585858;
    list-style: none;
}

.list>ul>li {
    margin: 0;
}

.principal-content{
    padding: 0;
}

.image-bg{
    height: 100vh;
    overflow:hidden;
}

.image-bg>img{
    width: 100%;
}


.title {
    min-height: 130px;
    background: #AED4FF;
    margin: 0;
    border-bottom: #585858 2px solid;
}

.form-orcamento {
    margin: 0 10%;
}

.dados {
    margin-top: 20px;
}

.form-dados {
    margin-bottom: 15px;
}



.form-orcamento table input {
    border: none;
}

.table-input-quant {
    width: 30px;
}

.table-input-desc {
    width: auto;
}

.table-input-color{
    width: 20px;
}

.table-input-formato{
    width: 180px;
}

.table-input-valorExtra{
    width: 100px;
}

.form-select{
    background: none;
    border: none;
}

.btn-submit {
    height: 30px;
    border: #AED4FF 1px solid;
    border-radius: 5%;
    color: #AED4FF;
    background: none;
}

.btn-submit:hover {
    color: #585858;
    background: #AED4FF;
}

.form-table {
    background: none;
}

.header-lista {
    margin: 0;
    padding: 0px 10px;
    background: #2e2e2e;
    color: white;
}

.content-lista {
    margin: 0;
}

.item-lista {
    margin: 0;
    min-height: 10vh;
    padding: 0px 10px;
    border-bottom: #585858 1px solid;
}

.input-info{
    background: none;
    color: white;
}